.newsTitle {
    font-weight: 700;
    text-decoration: none;
    color: darkgray;
    text-align: left;
    padding: 0 20px;
    align-self: center;
}

.newsElement {
    display: flex;
    margin: 10px 0;
}

.newsElement img {
    width: 150px;
}

a:hover {
    color:cornflowerblue;
}